@firstColor: #FFFFFF;
@secondColor: #262F72;
@thirdColor: #FFFFFF;
@orderFormWidth: 280px;
@baseFontFamily: Calibri;

body {
  background-color: @firstColor;
  font-family: @baseFontFamily;
}

.prestig-form {
  width: @orderFormWidth;
  float: right;
  font-size: 16pt;
}

#sendOrderDiv {
  width: @orderFormWidth;
  height: auto;
  background-color: @secondColor;
}

#sendOrderDiv > input, textarea {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
}

#sendOrderDiv > input {
  height: 28px;
  border: none;
  line-height: 25px;
}

#sendOrderDiv > label {
  color: @thirdColor;
  margin-top: 5px;
  margin-bottom: 2px;
}

#sendOrderDiv > textarea {
  height: 83px;
  border: none;
  margin-bottom: 9px;
  line-height: 20px;
}

#sendOrderDiv > button {
  padding: 0;
  margin: 0;
}

.prestig-content {
  padding: 0;
  width: 1024px;
}

.prestig-button {
  background-color: #6BC8CF;
  color: @secondColor;
  font-weight: bold;
  border: none;
  width: @orderFormWidth;
  height: 53px;
}

.prestig-divider {
  background-color: @secondColor;
  min-height: 15px;
  padding: 0;
}

.description {
  padding-right: 60px;
  padding-top: 10px;
  padding-left: 25px;
  font-size: 11pt;
  text-indent: 35px;
  height: 340px;
}

.col-md-4 {
  padding: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

p {
  margin: 0;
}

#companies {
  height: 290px;
}

#companies > img {
  margin-left: 20px;
  margin-right: 20px;
}

.prestig-title {
  color: #FFFFFF !important;
  font-size: 20pt !important;
  margin-top: 10px;
  margin-bottom: 10px;
}

#locations {
  color: @secondColor;
  font-weight: bold;
  font-size: 14pt;
  line-height: 20px;
  text-indent: 0;
}
