@baseBackgroundColor: #F0F0F0;
@orderFormWidth: 255px;

body {
  background-color: #F0F0F0;
}

.prestig-form {
  width: @orderFormWidth;
  float: right;
}

#sendOrderDiv {
  width: @orderFormWidth;
  height: auto;
  background-color: #272E72;
}

#sendOrderDiv > input, textarea {
  width: 100%;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
}

#sendOrderDiv > input {
  height: 28px;
  border: none;
}

#sendOrderDiv > textarea {
  height: 76px;
  border: none;
  margin-bottom: 9px;
}

#sendOrderDiv > button {
  padding: 0;
  margin: 0;
}

.prestig-content {
  padding: 10px;
}

.prestig-button {
  background-color: #6BC8CF;
  color: #262F72;
  font-weight: bold;
  border: none;
  width: @orderFormWidth;
  height: 40px;
}
