doctype html
html(lang='en')
  head
    title Static Site Ready!
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=0.1, user-scalable=yes')
    link(rel='shortcut icon', href='assets/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='assets/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/assets/styles/style.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/styles/prestig-style.min.css')
    block stylesheets
    // if lt IE 9
      script(type='text/javascript', src=asset('scripts/respond.min.js'))
  body
    block content

    block scripts
      script(type='text/javascript', src='/assets/scripts/bundle.min.js')
