doctype html
html(lang='en')
  head
    title Static Site Ready!
    meta(charset='utf-8')
    link(rel='shortcut icon', href='assets/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='assets/images/favicon.ico', type='image/x-icon')
    link(rel='stylesheet', type='text/css', href='/assets/styles/style.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/styles/prestig-style.min.css')
    link(rel='stylesheet', type='text/css', href='/assets/owl-carousel/owl.carousel.css')
    link(rel='stylesheet', type='text/css', href='/assets/owl-carousel/owl.theme.css')
    block stylesheets
    // if lt IE 9
      script(type='text/javascript', src=asset('scripts/respond.min.js'))
  body
    block content
    block scripts
